/* Color Classes */
.color-primary {
  color: $white;
}
.color-primary-bg {
  background: $white;
}

.color-second {
  color: $blue;
}
.color-second-bg {
  background: $blue;
}

.color-red {
  color: $red;
}
.color-red-bg {
  background: $red;
}

.color-orange {
  color: $orange;
}
.color-orange-bg {
  background: $orange;
}
